body {
width: 600px;
margin: 0px auto 0px auto;
color: #555;
}

h1, h2 {
font-family: "dejavu sans", sans-serif;
font-weight: bold;
}

h1 {
font-size: 2em;
color: #8258FA;
}

h2 {
font-size: 1.5em;
color: #5858FA;
}

a {
font-family: "dejavu serif", serif;
}

p, ul {
font-family: georgia, serif;
font-size: 1.2em;
line-height: 1.4em;
display: block;
}

