body {
background: #F2E6C0;
border: 20px hidden;
border-radius: 20px;
box-shadow: 10px 10px 20px 25px #C2B89A;
margin: 50px auto;
padding: 20px 20px 20px 20px;
width: 620px;
}

h1, h2 {
font-family: "dejavu sans", sans-serif;
font-weight: bold;
}

h1 {
color: #669999;
font-size: 2em;
}

h2 {
color: #708D53;
font-size: 1.5em;
}

a {
font-family: verdana, serif;
}

p, ul {
display: block;
font-family: verdana;
font-size: 1.2em;
line-height: 1.4em;
}

pre {
background: #EBEBE2;
border: 2px dotted #8BAFB3;
border-radius: 10px;
box-shadow: 3px 3px 5px 6px #DEDECE;
font-family: "Andale Mono", AndaleMono, monospace;
font-size: 1.0em;
padding: 10px 10px 10px 10px;
white-space: pre;
width: 600px
}


