body {
width: 600px;
margin: 0px auto 0px auto;
background: #F2E6C0;
}

h1, h2 {
font-family: "dejavu sans", sans-serif;
font-weight: bold;
}

h1 {
font-size: 2em;
color: #669999;
}

h2 {
font-size: 1.5em;
color: #708D53;
}

a {
font-family: verdana, serif;
}

p, ul {
font-family: verdana;
font-size: 1.2em;
line-height: 1.4em;
display: block;
}

code {
width: 600px
font-family: "Andale Mono", AndaleMono, monospace;
font-size: 1.0em;
background: #DEDECE;
}

