
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>$title$</title>
    </head>
    <body>
        <h1>$title$</h1>
	<br>
	<h2>$date$</h2>
	<br>

        $body$
    </body>
    <footer>
    <div id="disqus_thread"></div>
    <script src="/js/disqus.js" type="text/javascript" charset="utf-8"></script>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </footer>
</html>
